# Docker ignore pattern for Laravel applications
.git
.github
.idea
.vscode
.env
.env.backup
.phpunit.result.cache
node_modules
vendor
npm-debug.log
yarn-error.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/data/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
